h1{
  text-align: center;
  color: greenyellow;
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  background: #222;
  min-width: 960px;
}

rect {
  fill: none;
  pointer-events: all;
}

circle {
  fill: none;
  stroke-width: 2.5px;
}